@import url('https://fonts.cdnfonts.com/css/montserrat');

.videotestimain {
    padding: 1rem 1rem !important;
}

/* .video-testi-revamp {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
} */

#youtube-video {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 14rem;
    border-radius: 20px;
}

.blue-wraper {
    background-size: cover;
    width: 100%;
    /* padding: 50px 0px; */
}

.modal-dialog-vidslid {
    max-width: 600px;
    top: 80px;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.slider-top h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 44px;
    align-items: center;
    text-align: center;
    letter-spacing: 1px;
    text-transform: capitalize;
    padding: 0px 0px 20px 0px;
    color: #000000;
}

.slider-top span {
    color: #EE9143;
}

.slider-top p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #000000;
    justify-content: center;
    padding: 0px 0px 20px 0px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    display: block;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}

.swiper-slide img {
    display: block;
    margin: auto;
    width: 100%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .15);
    border-radius: 20px;
}

.card-body2 {
    flex: 1 1 auto;
    padding: 0 !important;
}

.card-body2 h5 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-transform: UPPERCASE;
    color: #000000;
    justify-content: center;
    padding: 30px 0px 20px 0px;
}

.card-body2 p {
    margin: 0px;
    font-size: 14px;
    line-height: 18px;
    padding: 0px;
    color: #000;
    display: block;
    text-align: center;
    padding: 0px 20px 30px 20px;
}

.card2 {
    background-color: rgba(245, 245, 245, 0);
    border-radius: 10px;
    box-shadow: 0px 0px 7px 0px #0000004D;
    padding: 16px;
}

.card-header,
.card-footer {
    opacity: 1
}

/* .mixitup-control-active {
    color: #fff;
    background-color: rgba(245, 245, 245, 0) !important;
} */


@media (min-width: 300px) and (max-width: 720px) {

    .blue-wraper {
        /* padding: 30px 0px; */
        margin: 0px auto;
        height: auto;
    }

    .slider-top p {
        font-weight: 500;
        font-size: 10px;
        line-height: 14px;
    }

    .slider-top h2 {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 0px;
        align-items: center;
        text-align: center;
        letter-spacing: 1px;
        text-transform: capitalize;
        padding: 0px 0px 20px 0px;
        color: #000000;
      }
}