*~
*#
.DS_STORE
.netbeans
nbproject
.idea
*.iml
.vscode
.node_history
dump.rdb

npm-debug.log
lib-cov
*.seed
*.log
*.out
*.pid


staging.hancockanimations.com/
staging.hancockanimations.com/*
blog/
blog/*
blogs/
blogs/*
blogwriting-old/
blogwriting-old/*
ghostwriters-v2/
ghostwriters-v2/*
ghostwriters-v3/
ghostwriters-v3/*
PHPMailer-master/
PHPMailer-master/*
protection/
protection/*
amazon-services-old-down/
amazon-services-old-down/*
blogwriting-old/
blogwriting-old/*
book-marketing-old/
book-marketing-old/*
book-promotion-marketing-old/
book-promotion-service-old/
book-promotion-marketing-old/*
book-promotion-service-old/*
book-publishers-christmas-old/
book-publishers-christmas-old/*
book-publishing-services-old/
book-publishing-services-old/*
book-writing-old/
book-writing-old/*
childrenbook-old/
childrenbook-old/*
ghostwriters/
ghostwriters/*
illustrative-agency-old/
illustrative-agency-old/*
self-publishing-old/
self-publishing-old/*

test_22/
*.jpg
*.zip
*.rar
*.tar.gz
*.jpg
*.gif
*.png
*.jpeg
*.mp4
*.mp3
*.png
*.webp
*.svg
*.webm
*.pdf
